@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<MudDialog @bind-Visible="_visible" Options="new DialogOptions { MaxWidth = MaxWidth.Large, FullWidth = true, BackdropClick = false }">
    <TitleContent>
        <div class="d-flex align-items-center justify-space-between w-100">
            <MudText Typo="Typo.h6">@L["Permissions"] - @_entityDisplayName</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="MudBlazor.Color.Default" Size="MudBlazor.Size.Small" OnClick="CloseModal" />
        </div>
    </TitleContent>
    <DialogContent>
        <div style="overflow:hidden">
            <MudGrid Class="d-flex align-items-center mb-2">
                <MudItem xs="8">
                    <MudTextField T="string"
                                  Value="@_permissionGroupSearchText"
                                  ValueChanged="OnPermissionGroupSearchTextChangedAsync"
                                  Immediate="true"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mb-2" />
                </MudItem>
                <MudItem xs="4">
                    <MudCheckBox T="bool?"
                                 Disabled="_selectAllDisabled"
                                 Value="@(GrantAll ? true : GrantAny ? null : (bool?)false)"
                                 ValueChanged="@((bool? v) => GrantAllAsync(v == true))">
                        @L["SelectAllInAllTabs"]
                    </MudCheckBox>
                </MudItem>
            </MudGrid>

            <fieldset class="border rounded-4 p-3">
                <legend class="px-1 h5 mb-0">@L["PermissionGroup"]</legend>

                    @if (_groups != null && _groups.Any())
                    {
                        <div class="lpx-scroll-pills-container">
                            <MudTabs @key="_groups"
                                     @bind-ActivePanelIndex="_selectedTabIndex"
                                     Position="MudBlazor.Position.Left"
                                     Rounded="true">
                                @foreach (var group in _groups)
                                {
                                    <MudTabPanel>
                                        <TabContent>
                                            @if (group.Permissions.Any(x => x.IsGranted))
                                            {
                                                <b>@group.DisplayName (@(group.Permissions.Count(x => x.IsGranted)))</b>
                                            }
                                            else
                                            {
                                                <small>
                                                    @group.DisplayName (@(group.Permissions.Count(x => x.IsGranted)))
                                                </small>
                                            }
                                        </TabContent>
                                        <ChildContent>
                                            <div class="w-100 ps-1" style="height: 500px;overflow-y: auto">
                                                <MudCheckBox T="bool"
                                                             Disabled="@(IsPermissionGroupDisabled(group))"
                                                             Value="@(group.Permissions.All(x => x.IsGranted))"
                                                             ValueChanged="@(b => GroupGrantAllChanged(b, group))">
                                                    @L["SelectAllInThisTab"]
                                                </MudCheckBox>

                                                <MudDivider />

                                                @foreach (var permission in group.Permissions)
                                                {
                                                    <div style="@($"margin-inline-start: {GetPermissionDepthOrDefault(permission.Name) * 20}px")">
                                                        <MudCheckBox T="bool"
                                                                     Disabled="@(IsDisabledPermission(permission))"
                                                                     Value="@permission.IsGranted"
                                                                     ValueChanged="@(async (b) => await PermissionChanged(b, group, permission))">
                                                            @GetShownName(permission)
                                                        </MudCheckBox>
                                                    </div>
                                                }
                                            </div>
                                        </ChildContent>
                                    </MudTabPanel>
                                }
                            </MudTabs>
                        </div>

                    }

            </fieldset>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Outlined" OnClick="CloseModal">@L["Cancel"]</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Filled" OnClick="SaveAsync">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>
