@using Microsoft.AspNetCore.Components.Forms
@using Volo.Abp.PermissionManagement.Localization
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@inject AbpBlazorMessageLocalizerHelper<AbpPermissionManagementResource> LH

<MudDialog @bind-Visible="_mainVisible" Options="new DialogOptions { MaxWidth = MaxWidth.ExtraLarge, FullWidth = true, BackdropClick = false }">
    <TitleContent>
        @L["ResourcePermissions"] - @ResourceDisplayName
    </TitleContent>
    <DialogContent>
        @if(HasAnyResourcePermission && HasAnyResourceProviderKeyLookupService)
        {
            <div class="d-grid gap-2 mb-2 d-md-flex justify-content-md-end">
                <MudButton Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small" Variant="Variant.Filled" OnClick="OpenCreateModalAsync">@L["AddResourcePermission"]</MudButton>
            </div>
            <MudTable T="ResourcePermissionGrantInfoDto"
                      Items="@ResourcePermissionList.Permissions"
                      Hover="true"
                      Dense="true"
                      @bind-CurrentPage="_mainTableCurrentPage"
                      @bind-RowsPerPage="PageSize">
                <HeaderContent>
                    <MudTh Style="width: 150px;">@L["Actions"]</MudTh>
                    <MudTh>@L["ResourcePermissionTarget"]</MudTh>
                    <MudTh>@L["ResourcePermissionPermissions"]</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudMenu Label="@L["Actions"]" Color="MudBlazor.Color.Primary" Variant="Variant.Filled" Size="MudBlazor.Size.Small">
                            <MudMenuItem OnClick="() => OpenEditModalAsync(context)">
                                @L["Edit"]
                            </MudMenuItem>
                            <MudMenuItem OnClick="() => DeleteResourcePermissionAsync(context)">
                                @L["Delete"]
                            </MudMenuItem>
                        </MudMenu>
                    </MudTd>
                    <MudTd>
                        <MudTooltip Text="@context.ProviderNameDisplayName" Placement="MudBlazor.Placement.End">
                            <span class="d-inline-block bg-light rounded-pill px-2 me-1 ms-1 mb-1">@context.ProviderName</span>
                        </MudTooltip>
                        @context.ProviderDisplayName
                    </MudTd>
                    <MudTd>
                        @foreach (var permission in context.Permissions)
                        {
                            <span class="d-inline-block bg-light rounded-pill px-2 me-1 mb-1">@permission.DisplayName</span>
                        }
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    @L["NoDataAvailableInDatatable"]
                </NoRecordsContent>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                @if (!HasAnyResourcePermission)
                {
                    @L["NoResourcePermissionFound"]
                }
                else if(!HasAnyResourceProviderKeyLookupService)
                {
                    @L["NoResourceProviderKeyLookupServiceFound"]
                }
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Outlined" OnClick="CloseModal">@L["Close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="_createVisible" Options="new DialogOptions { BackdropClick = false }">
    <TitleContent>
        @L["AddResourcePermission"]
    </TitleContent>
    <DialogContent>
        <EditForm Model="@CreateEntity" OnValidSubmit="CreateResourcePermissionAsync">
            <div class="mb-3">
                <MudRadioGroup T="string"
                               Value="@CurrentLookupService"
                               ValueChanged="@OnLookupServiceCheckedValueChanged">
                    @foreach(var keyLookupService in ResourceProviderKeyLookupServices)
                    {
                        <MudRadio T="string" Value="@(keyLookupService.Name)">@keyLookupService.DisplayName</MudRadio>
                    }
                </MudRadioGroup>
                <MudAutocomplete T="SearchProviderKeyInfo"
                                 Value="@_selectedProviderKeyInfo"
                                 ValueChanged="OnProviderKeyInfoSelectedAsync"
                                 SearchFunc="SearchProviderKeyAsync"
                                 ToStringFunc="@(item => item?.ProviderDisplayName ?? string.Empty)"
                                 Class="mt-1"
                                 ResetValueOnEmptyText="true"
                                 CoerceText="true" />
                @if (_showProviderKeyValidationError)
                {
                    <MudText Color="MudBlazor.Color.Error" Typo="Typo.caption">@L["ThisFieldIsRequired."]</MudText>
                }
            </div>
            <div class="mb-3">
                <h4>@L["ResourcePermissionPermissions"]</h4>
                <MudSwitch T="bool" Value="CreateEntity.Permissions.All(x => x.IsGranted)" ValueChanged="GrantAllAsync">@L["GrantAllResourcePermissions"]</MudSwitch>
                <div class="mt-2">
                    @foreach (var permission in CreateEntity.Permissions)
                    {
                        <MudCheckBox T="bool" Value="@permission.IsGranted" ValueChanged="@((c) => OnPermissionCheckedChanged(permission, c))" Label="@permission.DisplayName" />
                    }
                </div>
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Outlined" OnClick="CloseCreateModalAsync">@L["Cancel"]</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Filled" OnClick="CreateResourcePermissionAsync">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="_editVisible" Options="new DialogOptions { BackdropClick = false }">
    <TitleContent>
        @L["UpdateResourcePermission"]
    </TitleContent>
    <DialogContent>
        <EditForm Model="@EditEntity" OnValidSubmit="UpdateResourcePermissionAsync">
            <div class="mb-3">
                <h4>@L["ResourcePermissionPermissions"]</h4>
                <MudSwitch T="bool" Value="EditEntity.Permissions.All(x => x.IsGranted)" ValueChanged="GrantAllAsync">@L["GrantAllResourcePermissions"]</MudSwitch>
                <div class="mt-2">
                    @foreach (var permission in EditEntity.Permissions)
                    {
                        <MudCheckBox T="bool" Value="@permission.IsGranted" ValueChanged="@((c) => OnPermissionCheckedChanged(permission, c))" Label="@permission.DisplayName" />
                    }
                </div>
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Outlined" OnClick="CloseEditModalAsync">@L["Cancel"]</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Filled" OnClick="UpdateResourcePermissionAsync">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>
