@using Nblity.Abp.AspNetCore.Components.Web.MudblazorTheme.Navigation
<AuthorizeView>
	<Authorized>
		<MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Dense="true">
			<ActivatorContent Context="activatorContext">
				<MudButton Color="MudBlazor.Color.Inherit" Class="text-transform-none">
					<MudIcon Icon="@Icons.Material.Filled.Person" Class="me-1" />
					@if (TenantName.IsNullOrEmpty())
					{
						<span>@UserFullName</span>
					}
					else
					{
						<span><i>@CurrentTenant.Name</i>\@UserFullName</span>
					}
				</MudButton>
			</ActivatorContent>
			<ChildContent>
				@for (var i = 0; i < UserMenu.Items.Count; i++)
				{
					var item = UserMenu.Items[i];
					var customComponentType = item.GetComponentTypeOrDefault();

					if (i == UserMenu.Items.Count - 1)
					{
						<MudDivider />
					}

					if (customComponentType != null)
					{
						<DynamicComponent Type="@customComponentType" />
					}
					else
					{
						<MudMenuItem Href="@item.Url.TrimStart('~')" id="@item.ElementId">
							@item.DisplayName
						</MudMenuItem>
					}
				}
			</ChildContent>
		</MudMenu>
	</Authorized>
	<NotAuthorized>
		<MudButton Href="Account/Login" Color="MudBlazor.Color.Inherit">@L["Login"]</MudButton>
	</NotAuthorized>
</AuthorizeView>
