@page "/setting-management"
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.Features
@attribute [Authorize]
@attribute [RequiresFeature(SettingManagementFeatures.Enable)]
@using Microsoft.Extensions.Localization
@using Volo.Abp.UI.Navigation.Localization.Resource
@inject IStringLocalizer<AbpUiNavigationResource> LUiNavigation
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Settings"]" BreadcrumbItems="@BreadcrumbItems">

</PageHeader>

<MudCard>
    <MudCardContent Class="pt-3">
        @if (!string.IsNullOrEmpty(SelectedGroup))
        {
            <MudGrid>
                <MudItem xs="12" sm="3">
                    <MudNavMenu>
                        @foreach (var group in SettingComponentCreationContext.Groups)
                        {
                            <MudNavLink OnClick="@(() => SelectedGroup = GetNormalizedString(group.Id))"
                                        Match="Microsoft.AspNetCore.Components.Routing.NavLinkMatch.All"
                                        Class="@(SelectedGroup == GetNormalizedString(group.Id) ? "mud-nav-link-active" : "")">
                                @group.DisplayName
                            </MudNavLink>
                        }
                    </MudNavMenu>
                </MudItem>
                <MudItem xs="12" sm="9">
                    @foreach (var group in SettingComponentCreationContext.Groups)
                    {
                        @if (SelectedGroup == GetNormalizedString(group.Id))
                        {
                            <div class="abp-md-form">
                                @{
                                    RenderFragment settingRender = builder =>
                                    {
                                        builder.OpenComponent(0, group.ComponentType);
                                        builder.CloseComponent();
                                    };
                                }
                                @settingRender
                            </div>
                        }
                    }
                </MudItem>
            </MudGrid>
        }
    </MudCardContent>
</MudCard>
