@using Microsoft.Extensions.Localization
@using global::Localization.Resources.AbpUi
@inject IStringLocalizer<AbpUiResource> UiLocalizer
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Components.Web
@inject IOptions<AuthenticationOptions> AuthenticationOptions
@inject IOptions<AbpAspNetCoreComponentsWebOptions> AbpAspNetCoreComponentsWebOptions
<AuthorizeView>
	<Authorized>
		<MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Dense="true">
			<ActivatorContent Context="activatorContext">
				<MudButton Color="MudBlazor.Color.Inherit" Class="text-transform-none">
					<MudIcon Icon="@Icons.Material.Filled.Person" Class="me-1" />
					@if (TenantName.IsNullOrEmpty())
					{
						<span>@UserFullName</span>
					}
					else
					{
						<span><i>@CurrentTenant.Name</i>\@UserFullName</span>
					}
				</MudButton>
			</ActivatorContent>
			<ChildContent>
				@for (var i = 0; i < UserMenu.Items.Count; i++)
				{
					<MudMenuItem Href="@UserMenu.Items[i].Url.TrimStart('~')" id="@UserMenu.Items[i].ElementId">
						@UserMenu.Items[i].DisplayName
					</MudMenuItem>
				}

				<MudDivider />
				<MudMenuItem OnClick="BeginSignOut" id="MenuItem_Logout">
					@UiLocalizer["Logout"]
				</MudMenuItem>
			</ChildContent>
		</MudMenu>
	</Authorized>
	<NotAuthorized>
		<MudButton Href="@AuthenticationOptions.Value.LoginUrl" Color="MudBlazor.Color.Inherit">@L["Login"]</MudButton>
	</NotAuthorized>
</AuthorizeView>
